BasedOnStyle: llvm
IndentWidth: 4
TabWidth: 4
UseTab: Always
LineEnding: LF

AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
BreakBeforeBraces: Attach
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterClass: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BinPackArguments: false
BinPackParameters: false
AllowAllConstructorInitializersOnNextLine: false
ReflowComments: false  # Prevents splitting comments
Cpp11BracedListStyle: false
SpacesInContainerLiterals: true
SortIncludes: false
AlignTrailingComments: true
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
SpacesInCStyleCastParentheses: true
SpaceBeforeParens: ControlStatements
BreakTemplateDeclarations: Yes
ColumnLimit: 0
BreakBeforeBinaryOperators: NonAssignment

AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: false
IndentWrappedFunctionNames: false